name: Upstream Sync

permissions:
  contents: write
  workflows: write

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

jobs:
  sync_latest_from_upstream:
    runs-on: ubuntu-latest
    name: Sync latest commits from upstream repo

    steps:
    - name: Checkout target repo
      uses: actions/checkout@v4
      
    - name: Sync upstream changes
      id: sync
      uses: aormsby/Fork-Sync-With-Upstream-action@v3.4
      with:
        target_sync_branch: master
        target_repo_token: ${{ secrets.SYNC_PAT }}
        upstream_sync_repo: yt-dlp/yt-dlp
        upstream_sync_branch: master
        test_mode: false
        
    - name: New commits found
      if: steps.sync.outputs.has_new_commits == 'true'
      run: echo "New commits were found to sync."
    
    - name: No new commits
      if: steps.sync.outputs.has_new_commits == 'false'
      run: echo "There were no new commits."
      
    - name: Show value of 'has_new_commits'
      if: failure()
      run: echo "Sync failed - likely due to merge conflicts."
